* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: "Arial", sans-serif;
}

.container {
  text-align: center;
  background: #ffe4e1;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 48px;
  color: #ff69b4;
  margin-bottom: 20px;
}

.message {
  font-size: 24px;
  color: #ff1493;
  margin-bottom: 40px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #ff1493;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff69b4;
}

#heartContainer {
  margin-top: 20px;
}

.heart {
  color: #ff0000;
  font-size: 30px;
  position: absolute;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}
